<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/tests" />
        <option value="$PROJECT_DIR$/Internal/package-composer/sebastian/comparator/tests" />
        <option value="$PROJECT_DIR$/Internal/package-composer/doctrine/instantiator/tests" />
        <option value="$PROJECT_DIR$/Internal/package-composer/phpunit/php-token-stream/tests" />
        <option value="$PROJECT_DIR$/Internal/package-composer/sebastian/exporter/tests" />
        <option value="$PROJECT_DIR$/Internal/package-composer/myclabs/deep-copy/tests" />
        <option value="$PROJECT_DIR$/Internal/package-composer/sebastian/diff/tests" />
        <option value="$PROJECT_DIR$/Internal/package-composer/phpunit/php-code-coverage/tests" />
        <option value="$PROJECT_DIR$/Internal/package-composer/sebastian/type/tests" />
        <option value="$PROJECT_DIR$/Internal/package-composer/sebastian/object-reflector/tests" />
        <option value="$PROJECT_DIR$/Internal/package-composer/sebastian/code-unit-reverse-lookup/tests" />
        <option value="$PROJECT_DIR$/Internal/package-composer/sebastian/environment/tests" />
        <option value="$PROJECT_DIR$/Internal/package-composer/sebastian/object-enumerator/tests" />
        <option value="$PROJECT_DIR$/Internal/package-composer/sebastian/recursion-context/tests" />
        <option value="$PROJECT_DIR$/Internal/package-composer/sebastian/global-state/tests" />
        <option value="$PROJECT_DIR$/Internal/package-composer/phpunit/php-file-iterator/tests" />
        <option value="$PROJECT_DIR$/Internal/package-composer/phpunit/php-timer/tests" />
      </list>
    </option>
  </component>
</project>